################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/template/backend/obj/Docker/DOCKER_REGISTRY.cache
