################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/template/backend/.vs/Ambev.DeveloperEvaluation/CopilotIndices/17.12.53.23981
